@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    background-color: #f7c0cb;
}

.textClass h2 {
    color: rgb(246, 252, 196);
    font-weight: 100;
    font-size: 2.5rem;
}

.textClass p {
    color: #ffffff;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 60px;
}

#mainNavbar {
    font-weight: 100;
    font-size: 1.5rem;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: rgb(246, 252, 196);
}

#mainNavbar .navbar-brand {
    font-size: 1.5rem;
    color: rgb(246, 252, 196);
    font-weight: 100;
}

#headingGroup span {
    color: rgb(246, 252, 196);
}

#headingGroup h1 {
    font-weight:100;
    font-size: 4rem;
}

.navbar.scrolled {
    background-color: #f498b8;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight:100;
        font-size: 3rem;
    }
}

